# SPDX-FileCopyrightText: 2023-2024 Ledger SAS
# SPDX-License-Identifier: Apache-2.0

menu "Managers"

menu "Task manager"

config SVC_EXCHANGE_AREA_LEN
	int "Size of the SVC_Exchange area"
	range 64 1024
	default 128
	help
	  length (in bytes) of the user/kernel exchange area

config TASK_MAGIC
	hex "task magic"
	default 0xdeadcafe
	help
	  Default tasks magic to be set for all tasks. this value is specific to
	  each project so that when building tasks for a given project, only these
	  tasks can be added to the kernel bin.

config MAX_DEV_PER_TASK
	int "max devices per task"
	range 0 8
	default 4
	help
	  Maximum number of declared device per task

config MAX_SHM_PER_TASK
	int "Maximum mumber of SHM per task"
	range 0 8
	default 4
	help
	  Maximum number of owned shared memory per task

config MAX_DMA_STREAMS_PER_TASK
	int "Maximum mumber of DMA streams per task"
	range 0 8
	default 4
	help
      Maximum number of declared DMA streams per task

endmenu

if !BUILD_TARGET_RELEASE

menu "Debug manager"

choice
	bool "Debug output"
	default DEBUG_OUTPUT_USART
config DEBUG_OUTPUT_USART
	bool "using dts-configured usart as debug output"
config DEBUG_OUTPUT_SEMIHOSTING
	bool "using jtag ARM semihosting as output"
	depends on ARCH_ARM_CORTEX_M && WITH_JTAG_CONNECTED
config DEBUG_OUTPUT_NONE
	bool "using no log output"
endchoice

if DEBUG_OUTPUT_SEMIHOSTING

config DEBUG_SEMIHOSTING_OUTPUT_FILE
	string "semihosting Host filename to use"
	default "/tmp/fb_rot_log"
	help
	  Host filename to write log outputs to, in
	  semihosting mode

endif

if DEBUG_OUTPUT_USART

config DEBUG_COLORS
	bool "Support for ANSI colors support"
	default n
	help
	  Activate ANSI coloration on serial console for kernel debugging
	  output. Userspace log is not impacted

if DEBUG_COLORS

choice
	bool "ANSI color mode"
	default DEBUG_COLORS_REGULAR
config DEBUG_COLORS_REGULAR
	bool "regular message highlighting"
	help
	  kernel messages are highighted using foreground color, regular mode
config DEBUG_COLORS_BOLD
	bool "bold message highlighting"
	help
	  kernel messages are highighted using foreground color, bold mode
config DEBUG_COLORS_BACKGROUND
	bool "background message highlighting"
	help
	  kernel messages are highighted using background color
endchoice

choice
	bool "Default text color"
	default DEBUG_COLOR_DEFAULT_WHITE
config DEBUG_COLOR_DEFAULT_WHITE
	bool "default text color to white"
config DEBUG_COLOR_DEFAULT_BLACK
	bool "default text color to black"
endchoice

endif

endif

config DEBUG_LEVEL
	int "kernel debug level"
	range 0 8
	default 7
	help
	  Kernel activated debug level, from 0 (no debug) upto 8 (all debug)
	  debug levels are the following:
	  - 0 : no debug
	  - 1 : emerg
	  - 2 : emerg, alert
	  - 3 : emerg, alert, critical
	  - 4 : emerg, alert, critical, error
	  - 5 : emerg, alert, critical, error, warning
	  - 6 : emerg, alert, critical, error, warning, notice
	  - 7 : emerg, alert, critical, error, warning, notice, info
	  - 8 : emerg, alert, critical, error, warning, notice, info, debug
	  autotest-specific logging is not impacted by debug level

endmenu

endif

menu "Security manager"

choice
	bool "Entropy source"
	default SECURITY_HW_ENTROPY if HAS_RNG
	default SECURITY_PGC32_ENTROPY if !HAS_RNG
	config SECURITY_HW_ENTROPY
		bool "Using HW RNG as entropy source"
		depends on HAS_RNG
	config SECURITY_PGC32_ENTROPY
		bool "Using PGC32 as entropy source"
endchoice

endmenu

endmenu
