mainmenu "Sentry kernel"

rsource 'src/arch/Kconfig'
rsource 'src/security/Kconfig'
rsource 'src/core/Kconfig'

menu "Build mode"

config STANDALONE_MODE
	bool "Standardone mode"
	help
	  Allows standalone mode. No external task is built, Sentry only
	  execute itself and its own services and platform init.
	  Useful for basic platform debug and testing and architecture port

# debug relative options. Only set through build type. For security relative
# see src/security/Kconfig
config BUILD_WITH_GDB
	bool


choice
	bool "Build type"
config BUILD_TARGET_DEBUG
	bool "Build in debug mode"
	help
	  Allows ggdb support, debug options, disable hardening and optimisation that
	  may br ptoblematic for debugging purpose.
	  MUST NOT BE USED FOR DELIVERY.
	select BUILD_WITH_GDB

config BUILD_TARGET_RELEASE
	bool "Build in release mode"
	help
	  Remove all debugging-relative flags, activate all hardening mechanisms
	select SECU_SSP_USER
	select SECU_SSP_KERN
	select SECU_HW_SETNCHECK
	select SECU_NO_COMPTOZERO
	select SECU_LOOP_DBLE_IDX
endchoice

config DTS_FILE
	string "dts"
	help
	  DTS file to use for projet configuration


config BUILD_RUST_MODULES
	bool "Build Rust code"
	default n
	help
		no_std Rust code needs Meson 1.3.0 to be built

endmenu
