config HAS_DCACHE
	bool

config HAS_ICACHE
	bool

config HAS_FPU
	bool

config HAS_FPU_VFPV3
	bool

config HAS_FPU_VFPV4
	bool

config HAS_FPU_FPV5
	bool

config HAS_MPU
	bool

config HAS_NVIC
	bool

config THUMB
	bool

config LITTLE_ENDIAN
	bool

config BIG_ENDIAN
	bool

config HAS_DWT
	bool

choice
	bool "target SoC selection"
config ARCH_MCU_STM32U5
	bool "STM32U5"
	select ARCH_ARM_CORTEX_M
	select HAS_DCACHE
	select HAS_ICACHE
	select HAS_FPU
	select HAS_FPU_FPV5
	select HAS_MPU
	select HAS_NVIC
	select THUMB
	select LITTLE_ENDIAN
	select HAS_DWT

config ARCH_MCU_STM32F4
	bool "STM32F4"
	select ARCH_ARM_CORTEX_M
	select HAS_DCACHE
	select HAS_ICACHE
	select HAS_FPU
	select HAS_MPU
	select HAS_NVIC
	select THUMB
	select LITTLE_ENDIAN
	select HAS_DWT

endchoice
