menu "Managers"

menu "Task manager"

config SVC_EXCHANGE_AREA_LEN
	int "Size of the SVC_Exhcange area"
	range 64 1024
	default 128
	help
	  length (in bytes) of the user/kernel exchange area

config TASK_MAGIC_VALUE
	hex "task magic value number"
	default 0xdeadcafe
	help
	  Default tasks magic number value to be set for all
	  tasks. this value is specific to each project so
	  that when building tasks for a given project, only these
	  tasks can be added to the kernel bin

config MAX_DEV_PER_TASK
	int "max devices per task"
	range 0 8
	default 4
	help
	  Maximum number of declared device per task

config MAX_SHM_PER_TASK
	int "Maximum mumber of SHM per task"
	range 0 8
	default 4
	help
	  Maximum number of owned shared memory per task

config MAX_DMA_STREAMS_PER_TASK
	int "Maximum mumber of DMA streams per task"
	range 0 8
	default 4
	help
      Maximum number of declared DMA streams per task

endmenu

endmenu
