# SPDX-FileCopyrightText: 2023 Ledger SAS
# SPDX-License-Identifier: Apache-2.0

# masked symbols. These symbols are automatically selected based on the
# target SoC.
# The target SoC define the core technology, and thus the core features

config ARCH_ARM_ARMV7M
	bool
	select HAS_NVIC
	select THUMB
	select HAS_DWT

config ARCH_ARM_ARMV7EM
	bool
	select ARCH_ARM_ARMV7M
	select HAS_DSP

config ARCH_ARM_ARMV8M
	bool
	select HAS_MPU
	select HAS_MPU_PMSA_V8
	select HAS_NVIC
	select THUMB
	select HAS_DWT

# ARMv8m-mainline
config ARCH_ARM_ARMV8MML
	bool
	select ARCH_ARM_ARMV8M
	select HAS_DSP
	select HAS_SIMD

config ARCH_ARM_CORTEX_M3
	bool
	select ARCH_ARM_ARMV7M

config ARCH_ARM_CORTEX_M4
	bool
	select ARCH_ARM_ARMV7EM

config ARCH_ARM_CORTEX_M7
	bool
	select ARCH_ARM_ARMV7EM
	select HAS_SIMD

config ARCH_ARM_CORTEX_M33
	bool
	select ARCH_ARM_ARMV8MML

config ARCH_ARM_CORTEX_M35P
	bool
	select ARCH_ARM_ARMV8MML

config HAS_DCACHE
	bool

config HAS_ICACHE
	bool

config HAS_FPU
	bool

config HAS_FPU_VFPV3
	bool

config HAS_FPU_VFPV4
	bool

config HAS_FPU_FPV5
	bool

config HAS_MPU
	bool

config HAS_MPU_PMSA_V7
	bool

config HAS_MPU_PMSA_V8
	bool

config NUM_MPU_REGIONS
	int "number of MPU regions"
	depends on HAS_MPU
	default 8
	help
	  Number of MPU region, this is vendor defined, 8 by default.

# TODO Add secure MPU feature

config HAS_TRUSTZONE
	bool

config HAS_NVIC
	bool

config THUMB
	bool

config LITTLE_ENDIAN
	bool

config BIG_ENDIAN
	bool

config HAS_DWT
	bool

config HAS_RNG
	bool

config HAS_GPDMA
	bool

config HAS_FLASH_DUAL_BANK
	bool

config SOC_FAMILY_STM32
	bool
	select LITTLE_ENDIAN

config SOC_SUBFAMILY_STM32F4
	bool
	select ARCH_ARM_CORTEX_M4
	select SOC_FAMILY_STM32
	select HAS_FPU
	select HAS_FPU_VFPV4
	select HAS_MPU
	select HAS_DCACHE
	select HAS_ICACHE
	select HAS_MPU_PMSA_V7
	help
	  STM32F4 family is based on Cortex-M4 with FPU and PMSAv7 MPU.

config SOC_SUBFAMILY_STM32L4
	bool
	select ARCH_ARM_CORTEX_M4
	select SOC_FAMILY_STM32
	select HAS_FPU
	select HAS_FPU_VFPV4
	select HAS_MPU
	select HAS_MPU_PMSA_V7
	select HAS_DCACHE
	select HAS_ICACHE
	select HAS_RNG
	help
	  STM32L4 family is based on Cortex-M4 with FPU and PMSAv7 MPU with low power features

config SOC_SUBFAMILY_STM32U5
	bool
	select ARCH_ARM_CORTEX_M33
	select SOC_FAMILY_STM32
	select HAS_FPU
	select HAS_FPU_FPV5
	select HAS_TRUSTZONE
	select HAS_DCACHE
	select HAS_ICACHE
	select HAS_RNG
	select HAS_GPDMA
	help
	  STM32U5 family is based on Cortex-M33 with FPU, PMSAv8 MPU and TrustZone

config SOC_SUBFAMILY_STM32WB
	bool
	select ARCH_ARM_CORTEX_M4
	select SOC_FAMILY_STM32
	select HAS_FPU
	select HAS_MPU
	select HAS_MPU_PMSA_V7
	# Cache support ?
	help
	  STM32WB family is based on Cortex-M4 (main core and a Cortex-M0+ for wireless core)
	  Cortex-M0+ arch is not supported, only main core can be targetted.

# XXX STM32F401 does not have RNG !
config SOC_SUBFAMILY_STM32F4x5_7
	bool
	select HAS_RNG
	select SOC_SUBFAMILY_STM32F4

config SOC_SUBFAMILY_STM32F42_3xx
	bool
	select HAS_RNG
	select HAS_FLASH_DUAL_BANK
	select SOC_SUBFAMILY_STM32F4

config SOC_SUBFAMILY_STM32L47_8x
	bool
	select SOC_SUBFAMILY_STM32L4

config SOC_SUBFAMILY_STM32L49_Ax
	bool
	select SOC_SUBFAMILY_STM32L4

config SOC_SUBFAMILY_STM32U535_545
	bool
	select SOC_SUBFAMILY_STM32U5

config SOC_SUBFAMILY_STM32U575_585
	bool
	select SOC_SUBFAMILY_STM32U5

config SOC_SUBFAMILY_STM32U59_Ax
	bool
	select SOC_SUBFAMILY_STM32U5

config SOC_SUBFAMILY_STM32U5F_Gx
	bool
	select SOC_SUBFAMILY_STM32U5

config ARCH_ARM_CORTEX_NAME
	string
	default "m3" if ARCH_ARM_CORTEX_M3
	default "m4" if ARCH_ARM_CORTEX_M4
	default "m7" if ARCH_ARM_CORTEX_M7
	default "m33" if ARCH_ARM_CORTEX_M33
	default "m35p" if ARCH_ARM_CORTEX_M35P

config ARCH_SOCNAME
	string
	default "STM32WB55" if ARCH_MCU_STM32WB55
	default "STM32F401" if ARCH_MCU_STM32F401
	default "STM32F407" if ARCH_MCU_STM32F407
	default "STM32F419" if ARCH_MCU_STM32F419
	default "STM32F429" if ARCH_MCU_STM32F429
	default "STM32F439" if ARCH_MCU_STM32F439
	default "STM32L476" if ARCH_MCU_STM32L476
	default "STM32U534" if ARCH_MCU_STM32U534
	default "STM32U535" if ARCH_MCU_STM32U535
	default "STM32U545" if ARCH_MCU_STM32U545
	default "STM32U575" if ARCH_MCU_STM32U575
	default "STM32U585" if ARCH_MCU_STM32U585
	default "STM32U595" if ARCH_MCU_STM32U595
	default "STM32U599" if ARCH_MCU_STM32U599
	default "STM32U5A5" if ARCH_MCU_STM32U5A5
	default "STM32U5A9" if ARCH_MCU_STM32U5A9
	default "STM32U5FX" if ARCH_MCU_STM32U5FX
	default "STM32U5GX" if ARCH_MCU_STM32U5GX

# User-accessible selectors

choice
	bool "target SoC selection"
	default ARCH_MCU_STM32U599

config ARCH_MCU_STM32F439
	bool "STM32F439"
	select SOC_SUBFAMILY_STM32F42_3xx

config ARCH_MCU_STM32F429
	bool "STM32F429"
	select SOC_SUBFAMILY_STM32F42_3xx

config ARCH_MCU_STM32F407
	bool "STM32F407"
	select SOC_SUBFAMILY_STM32F4x5_7

config ARCH_MCU_STM32F401
	bool "STM32F401"
	select SOC_SUBFAMILY_STM32F4

config ARCH_MCU_STM32WB55
	bool "STM32WB55"
	select SOC_SUBFAMILY_STM32WB

config ARCH_MCU_STM32L476
	bool "STM32L476"
	select SOC_SUBFAMILY_STM32L47_8x

config ARCH_MCU_STM32U595
	bool "STM32U595"
	select SOC_SUBFAMILY_STM32U59_Ax

config ARCH_MCU_STM32U599
	bool "STM32U599"
	select SOC_SUBFAMILY_STM32U59_Ax

config ARCH_MCU_STM32U5A5
	bool "STM32U5A5"
	select SOC_SUBFAMILY_STM32U59_Ax

config ARCH_MCU_STM32U5A9
	bool "STM32U5A9"
	select SOC_SUBFAMILY_STM32U59_Ax

endchoice

if HAS_FPU

choice
	bool "floating point ABI"
config FPU_SOFT_ABI
	bool "soft"
config FPU_SOFTFP_ABI
	bool "soft-fp"
	depends on HAS_FPU
config FPU_HARDFP_ABI
	bool "hard-fp"
	depends on HAS_FPU
endchoice

config USE_FPU
	bool
	default y if FPU_HARDFP_ABI
	default y if FPU_SOFTFP_ABI

choice
	bool "FPv5 float precision"
	depends on HAS_FPU_FPV5
	help
	  Choose floating precision (single/double) to use for FPv5 floating point unit
	  FPV5 is the FPU revision for M7/M33/M35P arch.
	  Only Cortex-M7 can use Double precision (manufacturer defined, check your SoC
	  dreference manual).

config FPV5_SP
	bool "single precision"

config FPV5_DP
	bool "double precision"
	depends on ARCH_ARM_CORTEX_M7
endchoice

endif

config FPU_ABI_CFLAGS
	string
	default "-mfloat-abi=soft" if FPU_SOFT_ABI
	default "-mfloat-abi=softfp" if FPU_SOFTFP_ABI
	default "-mfloat-abi=hard" if FPU_HARDFP_ABI

config FPU_CFLAGS
	string
	depends on !FPU_SOFT_ABI
	depends on HAS_FPU && (HAS_FPU_VFPV3 || HAS_FPU_VFPV4 || HAS_FPU_FPV5)
	default "-mfpu=vfpv4-d16" if HAS_FPU_VFPV4
	default "-mfpu=fpv5-d16" if HAS_FPU_FPV5 && FPV5_DP
	default "-mfpu=fpv5-sp-d16" if HAS_FPU_FPV5 && FPV5_SP && !FPV5_DP

config ISA_CFLAGS
	string
	default "-mthumb" if THUMB

config ENDIANNESS_CFLAGS
	string
	default "-mlittle-endian" if LITTLE_ENDIAN
	default "-mbig-endian" if BIG_ENDIAN

config RUSTC_TARGET
	string
	default "thumbv7m-none-eabi" if ARCH_ARM_ARMV7M
	default "thumbv7em-none-eabi" if ARCH_ARM_ARMV7EM && !FPU_HARDFP_ABI
	default "thumbv7em-none-eabihf" if ARCH_ARM_ARMV7EM && FPU_HARDFP_ABI
	default "thumbv8m.main-none-eabi" if ARCH_ARM_ARMV8MML && !FPU_HARDFP_ABI
	default "thumbv8m.main-none-eabihf" if ARCH_ARM_ARMV8MML && FPU_HARDFP_ABI

config SYSTICK_HZ
	int "systick initial period configuration"
	range 0 10000
	default 1000
