# masked symbols. These symbols are automatically selected based on the
# target SoC.
# The target SoC define the core technology, and thus the core features

config ARCH_ARM_CORTEX_M3
	bool

config ARCH_ARM_CORTEX_M4
	bool

config ARCH_ARM_CORTEX_M7
	bool

config ARCH_ARM_CORTEX_M33
	bool

config ARCH_ARM_CORTEX_M35P
	bool

config HAS_DCACHE
	bool

config HAS_ICACHE
	bool

config HAS_FPU
	bool

config HAS_FPU_VFPV3
	bool

config HAS_FPU_VFPV4
	bool

config HAS_FPU_FPV5
	bool

config HAS_MPU
	bool

config HAS_MPU_PMSA_V7
	bool

config HAS_MPU_PMSA_V8
	bool

config NUM_MPU_REGIONS
	int "number of MPU regions"
	depends on HAS_MPU
	default 8
	help
	  Number of MPU region, this is vendor defined, 8 by default.

# TODO Add secure MPU feature

config HAS_NVIC
	bool

config THUMB
	bool

config LITTLE_ENDIAN
	bool

config BIG_ENDIAN
	bool

config HAS_DWT
	bool

config HAS_RNG
	bool

config HAS_FLASH_DUAL_BANK
	bool

config ARCH_ARM_ARMV7M
    bool
	select HAS_MPU
	select HAS_MPU_PMSA_V7
	select HAS_NVIC
	select THUMB
	select LITTLE_ENDIAN
	select HAS_DWT

config ARCH_ARM_ARMV8M
    bool
	select HAS_MPU
	select HAS_MPU_PMSA_V8
	select HAS_NVIC
	select THUMB
	select LITTLE_ENDIAN
	select HAS_DWT



config SOC_FAMILY_STM32
	bool

config SOC_SUBFAMILY_STM32F4
	bool

config SOC_SUBFAMILY_STM32F4x5_7
	bool
	help
	  "STM32F405/F407/F415/F417 soc sub family"

config SOC_SUBFAMILY_STM32F42_3xx
	bool
	help
	  "STM32F427/F429/F437/F439 soc sub family"

config SOC_SUBFAMILY_STM32L4
	bool

config SOC_SUBFAMILY_STM32L47_8x
	bool
	help
	  "STM32L47x/L48x soc sub family"

config SOC_SUBFAMILY_STM32L49_Ax
	bool
	help
	  "STM32L49x/L4Ax soc sub family"

config SOC_SUBFAMILY_STM32U5
	bool

config SOC_SUBFAMILY_STM32U535_545
	bool

config SOC_SUBFAMILY_STM32U535_545
	bool

config SOC_SUBFAMILY_STM32U575_585
	bool

config SOC_SUBFAMILY_STM32U59_Ax
	bool

config SOC_SUBFAMILY_STM32U5F_Gx
	bool

config SOC_SUBFAMILY_STM32WB
	bool

config ARCH_ARM_CORTEX_NAME
    string
	default "m4" if ARCH_MCU_STM32WB55
	default "m4" if SOC_SUBFAMILY_STM32F4
	default "m4" if SOC_SUBFAMILY_STM32L4
	default "m33" if SOC_SUBFAMILY_STM32U5

config ARCH_SOCNAME
	string
	default "STM32WB55" if ARCH_MCU_STM32WB55
	default "STM32F401" if ARCH_MCU_STM32F401
	default "STM32F407" if ARCH_MCU_STM32F407
	default "STM32F419" if ARCH_MCU_STM32F419
	default "STM32F429" if ARCH_MCU_STM32F429
	default "STM32F439" if ARCH_MCU_STM32F439
	default "STM32L476" if ARCH_MCU_STM32L476
	default "STM32U5A5" if ARCH_MCU_STM32U5A5

# User-accessible selectors

choice
	bool "target SoC selection"
	default ARCH_MCU_STM32F439

config ARCH_MCU_STM32F439
	bool "STM32F439"
	select ARCH_ARM_CORTEX_M
	select ARCH_ARM_ARMV7M
	select HAS_DCACHE
	select HAS_ICACHE
	select HAS_FPU
	select HAS_FPU_VFPV4
	select HAS_RNG
	select HAS_FLASH_DUAL_BANK
	select SOC_FAMILY_STM32
	select SOC_SUBFAMILY_STM32F4
	select SOC_SUBFAMILY_STM32F42_3xx

config ARCH_MCU_STM32F429
	bool "STM32F429"
	select ARCH_ARM_CORTEX_M
	select ARCH_ARM_ARMV7M
	select HAS_DCACHE
	select HAS_ICACHE
	select HAS_FPU
	select HAS_FPU_VFPV4
	select HAS_RNG
	select HAS_FLASH_DUAL_BANK
	select SOC_FAMILY_STM32
	select SOC_SUBFAMILY_STM32F4
	select SOC_SUBFAMILY_STM32F42_3xx

config ARCH_MCU_STM32F407
	bool "STM32F407"
	select ARCH_ARM_CORTEX_M
	select ARCH_ARM_ARMV7M
	select HAS_DCACHE
	select HAS_ICACHE
	select HAS_FPU
	select HAS_FPU_VFPV4
	select HAS_RNG
	select SOC_FAMILY_STM32
	select SOC_SUBFAMILY_STM32F4
	select SOC_SUBFAMILY_STM32F4x5_7

config ARCH_MCU_STM32F401
	bool "STM32F401"
	select ARCH_ARM_CORTEX_M
	select ARCH_ARM_ARMV7M
	select HAS_DCACHE
	select HAS_ICACHE
	select HAS_FPU
	select HAS_FPU_VFPV4
	select SOC_FAMILY_STM32
	select SOC_SUBFAMILY_STM32F4

config ARCH_MCU_STM32WB55
	bool "STM32WB55"
	select ARCH_ARM_CORTEX_M
	select ARCH_ARM_ARMV7M
	select HAS_DCACHE
	select HAS_ICACHE
	select HAS_FPU
	select HAS_FPU_VFPV4
	select SOC_FAMILY_STM32
	select SOC_SUBFAMILY_STM32WB

config ARCH_MCU_STM32L476
	bool "STM32L476"
	select ARCH_ARM_CORTEX_M
	select ARCH_ARM_ARMV7M
	select HAS_FPU
	select HAS_FPU_VFPV4
	select HAS_DCACHE
	select HAS_ICACHE
	select SOC_FAMILY_STM32
	select SOC_SUBFAMILY_STM32L4
	select SOC_SUBFAMILY_STM32L47_8x

config ARCH_MCU_STM32U5A5
	bool "STM32U5A5"
	select ARCH_ARM_CORTEX_M
	select ARCH_ARM_ARMV8M
	select HAS_DCACHE
	select HAS_ICACHE
	select HAS_FPU
	select HAS_FPU_FPV5
	select HAS_RNG
	select SOC_FAMILY_STM32
	select SOC_SUBFAMILY_STM32U5
	select SOC_SUBFAMILY_STM32U59_Ax

endchoice

if HAS_FPU

choice
	bool "floating point ABI"
config FPU_SOFT_ABI
	bool "soft"
config FPU_SOFTFP_ABI
	bool "soft-fp"
	depends on HAS_FPU
config FPU_HARDFP_ABI
	bool "hard-fp"
	depends on HAS_FPU
endchoice

config USE_FPU
	bool
	default y if FPU_HARDFP_ABI
	default y if FPU_SOFTFP_ABI

comment "VFPv3 FPU not available for this target arch"
	depends on !HAS_FPU_VFPV3

comment "VFPv4 FPU not available for this target arch"
	depends on !HAS_FPU_VFPV4

comment "FPv5 FPU not available for this target arch"
	depends on !HAS_FPU_FPV5

choice
	bool "FPv5 float precision"
	depends on HAS_FPU_FPV5
	help
	  Choose floating precision (single/double) to use for FPv5 floating point unit
config FPV5_SP
	bool "single precision"
config FPV5_DP
	bool "double precision"
endchoice

endif

config FPU_ABI_CFLAGS
	string
	default "-mfloat-abi=soft" if FPU_SOFT_ABI
	default "-mfloat-abi=softfp" if FPU_SOFTFP_ABI
	default "-mfloat-abi=hard" if FPU_HARDFP_ABI

config FPU_CFLAGS
	string
	depends on !FPU_SOFT_ABI
	depends on HAS_FPU && (HAS_FPU_VFPV3 || HAS_FPU_VFPV4 || HAS_FPU_FPV5)
	default "-mfpu=vfpv4-d16" if HAS_FPU_VFPV4
	default "-mfpu=fpv5-d16" if HAS_FPU_FPV5 && FPV5_DP
	default "-mfpu=fpv5-sp-d16" if HAS_FPU_FPV5 && FPV5_SP && !FPV5_DP

config ISA_CFLAGS
	string
	default "-mthumb" if THUMB

config ENDIANNESS_CFLAGS
	string
	default "-mlittle-endian" if LITTLE_ENDIAN
	default "-mbig-endian" if BIG_ENDIAN

config SYSTICK_HZ
	int "systick initial period configuration"
	range 0 10000
	default 1000
