# SPDX-FileCopyrightText: 2025 Ledger SAS
# SPDX-License-Identifier: Apache-2.0

CONFIG_ARCH_MCU_STM32WB55_CM4=y
CONFIG_DRV_STM32_LPUART=y
CONFIG_STANDALONE_MODE=y
CONFIG_BUILD_TARGET_AUTOTEST=y
# CONFIG_TEST_SHM is not set
