
#
# Platform support
#
CONFIG_ARCH_ARM_CORTEX_M=y
CONFIG_ARCH_ARM=y
CONFIG_HAS_DCACHE=y
CONFIG_HAS_ICACHE=y
CONFIG_HAS_FPU=y
CONFIG_HAS_FPU_FPV5=y
CONFIG_HAS_MPU=y
CONFIG_HAS_MPU_PMSA_V8=y
CONFIG_NUM_MPU_REGIONS=8
CONFIG_HAS_NVIC=y
CONFIG_THUMB=y
CONFIG_LITTLE_ENDIAN=y
CONFIG_HAS_DWT=y
CONFIG_HAS_RNG=y
CONFIG_ARCH_ARM_ARMV8M=y
CONFIG_SOC_FAMILY_STM32=y
CONFIG_SOC_SUBFAMILY_STM32U5=y
CONFIG_SOC_SUBFAMILY_STM32U59_Ax=y
CONFIG_ARCH_ARM_CORTEX_NAME="m33"
CONFIG_ARCH_SOCNAME="STM32U5A5"
# CONFIG_ARCH_MCU_STM32F439 is not set
# CONFIG_ARCH_MCU_STM32F429 is not set
# CONFIG_ARCH_MCU_STM32F407 is not set
# CONFIG_ARCH_MCU_STM32F401 is not set
# CONFIG_ARCH_MCU_STM32WB55 is not set
# CONFIG_ARCH_MCU_STM32L476 is not set
CONFIG_ARCH_MCU_STM32U5A5=y
# CONFIG_FPU_SOFT_ABI is not set
CONFIG_FPU_SOFTFP_ABI=y
# CONFIG_FPU_HARDFP_ABI is not set
CONFIG_USE_FPU=y

#
# VFPv3 FPU not available for this target arch
#

#
# VFPv4 FPU not available for this target arch
#
CONFIG_FPV5_SP=y
# CONFIG_FPV5_DP is not set
CONFIG_FPU_ABI_CFLAGS="-mfloat-abi=softfp"
CONFIG_FPU_CFLAGS="-mfpu=fpv5-sp-d16"
CONFIG_ISA_CFLAGS="-mthumb"
CONFIG_ENDIANNESS_CFLAGS="-mlittle-endian"
CONFIG_SYSTICK_HZ=1000
# end of Platform support

#
# Core functions
#
CONFIG_MAX_TASKS=8
CONFIG_SCHED_RRMQ=y
# CONFIG_SCHED_FIFO is not set
# end of Core functions

#
# Managers
#

#
# Task manager
#
CONFIG_SVC_EXCHANGE_AREA_LEN=128
CONFIG_TASK_MAGIC_VALUE=0xdeadcafe
CONFIG_MAX_DEV_PER_TASK=4
CONFIG_MAX_SHM_PER_TASK=4
CONFIG_MAX_DMA_STREAMS_PER_TASK=4
# end of Task manager

#
# Debug manager
#
# CONFIG_DEBUG_COLORS is not set
CONFIG_DEBUG_LEVEL=7
# end of Debug manager

#
# Security manager
#
CONFIG_SECU_SSP_USER=y
CONFIG_SECU_SSP_KERN=y
CONFIG_SECU_HW_SETNCHECK=y
CONFIG_SECU_LOOP_DBLE_IDX=y
# CONFIG_SECU_ENFORCE_FAULT_INJECTION is not set
# end of Security manager
# end of Managers

#
# Build mode
#
CONFIG_STANDALONE_MODE=y
# CONFIG_BUILD_TARGET_DEBUG is not set
# CONFIG_BUILD_TARGET_RELEASE is not set
CONFIG_BUILD_TARGET_AUTOTEST=y
# end of Build mode
