
#
# Platform support
#
CONFIG_ARCH_ARM_CORTEX_M=y
CONFIG_ARCH_ARM=y
CONFIG_HAS_DCACHE=y
CONFIG_HAS_ICACHE=y
CONFIG_HAS_FPU=y
CONFIG_HAS_FPU_VFPV4=y
CONFIG_HAS_MPU=y
CONFIG_HAS_MPU_PMSA_V7=y
CONFIG_HAS_NVIC=y
CONFIG_THUMB=y
CONFIG_LITTLE_ENDIAN=y
CONFIG_HAS_DWT=y
CONFIG_HAS_RNG=y
CONFIG_HAS_FLASH_DUAL_BANK=y
CONFIG_ARCH_ARM_ARMV7M=y
CONFIG_SOC_FAMILY_STM32=y
CONFIG_SOC_SUBFAMILY_STM32F4=y
CONFIG_SOC_SUBFAMILY_STM32F42_3xx=y
CONFIG_ARCH_ARM_CORTEX_NAME="m4"
CONFIG_ARCH_SOCNAME="STM32F429"
# CONFIG_ARCH_MCU_STM32U5 is not set
# CONFIG_ARCH_MCU_STM32F439 is not set
CONFIG_ARCH_MCU_STM32F429=y
# CONFIG_ARCH_MCU_STM32F407 is not set
# CONFIG_ARCH_MCU_STM32F401 is not set
# CONFIG_ARCH_MCU_STM32WB55 is not set
# CONFIG_ARCH_MCU_STM32L476 is not set
CONFIG_FPU_SOFT_ABI=y
# CONFIG_FPU_SOFTFP_ABI is not set
# CONFIG_FPU_HARDFP_ABI is not set

#
# VFPv3 FPU not available for this target arch
#

#
# FPv5 FPU not available for this target arch
#
CONFIG_FPU_ABI_CFLAGS="-mfloat-abi=soft"
CONFIG_ISA_CFLAGS="-mthumb"
CONFIG_ENDIANNESS_CFLAGS="-mlittle-endian"
CONFIG_SYSTICK_HZ=1000
# end of Platform support

#
# Security
#
CONFIG_SECU_SSP_USER=y
CONFIG_SECU_SSP_KERN=y
CONFIG_SECU_HW_SETNCHECK=y
CONFIG_SECU_LOOP_DBLE_IDX=y
# CONFIG_SECU_ENFORCE_FAULT_INJECTION is not set
# end of Security

#
# Core functions
#
CONFIG_MAX_TASKS=8
CONFIG_SCHED_RRMQ=y
# CONFIG_SCHED_FIFO is not set
# end of Core functions

#
# Managers
#

#
# Task manager
#
CONFIG_SVC_EXCHANGE_AREA_LEN=128
CONFIG_TASK_MAGIC_VALUE=0xdeadcafe
CONFIG_MAX_DEV_PER_TASK=4
CONFIG_MAX_SHM_PER_TASK=4
CONFIG_MAX_DMA_STREAMS_PER_TASK=4
# end of Task manager
# end of Managers

#
# Build mode
#
CONFIG_STANDALONE_MODE=y
# CONFIG_BUILD_TARGET_DEBUG is not set
CONFIG_BUILD_TARGET_RELEASE=y
CONFIG_DTS_FILE="dts/sentry_stm32f429i_disc1.dts"
# end of Build mode
