# SPDX-FileCopyrightText: 2023-2024 Ledger SAS
# SPDX-License-Identifier: Apache-2.0

menu "Platform support"

config ARCH_ARM
	bool

choice
	prompt "Target arch selection"
config ARCH_ARM_CORTEX_M
	bool "ARM Cortex-M target & SoCs"
	select ARCH_ARM

endchoice

if ARCH_ARM_CORTEX_M
rsource 'asm-cortex-m/Kconfig'
endif


endmenu
