menu "Core functions"

config MAX_TASKS
	int "Maximum number of userspace tasks"
	range 1 256
	default 8
	help
	  Maximum number of userspace tasks, from 1 to 256


choice
	bool "Scheduling policy"
	default SCHED_RRMQ
config SCHED_RRMQ
	bool "Round-Robin Multiqueue with Quantum scheduler policy"
	help
	  Schedule task with multiqueue round-robin, with elastic quantum support
	  Allows differenciated quantum per task, with timeslotting-based task sets
	  Highly efficient when well configured.
	  A task can yield() before its quantum end to refresh it. Blocking syscalls
	  (IPC, sleep) also refresh the quantum.
config SCHED_FIFO
	bool "FIFO-based policy"
	help
	  Schedule task with FIFO scheduling policy. Each task is executed
	  while not entering a blocking syscall (yield, sleep, etc.). The
	  task is eligible again each time an input event is received (IPC, signal,
	  interrupt)

endchoice

endmenu
